<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sust.dao.TEnterpriseInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sust.model.TEnterpriseInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR" />
    <result column="enterprise_company_name" property="enterpriseCompanyName" jdbcType="VARCHAR" />
    <result column="enterprise_link_man" property="enterpriseLinkMan" jdbcType="VARCHAR" />
    <result column="enterprise_phone_num" property="enterprisePhoneNum" jdbcType="VARCHAR" />
    <result column="enterprise_address" property="enterpriseAddress" jdbcType="VARCHAR" />
    <result column="enterprise_email" property="enterpriseEmail" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, enterprise_id, enterprise_company_name, enterprise_link_man, enterprise_phone_num, 
    enterprise_address, enterprise_email, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sust.model.TEnterpriseInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_enterprise_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_enterprise_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_enterprise_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sust.model.TEnterpriseInfoExample" >
    delete from t_enterprise_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sust.model.TEnterpriseInfo" >
    insert into t_enterprise_info (id, enterprise_id, enterprise_company_name, 
      enterprise_link_man, enterprise_phone_num, 
      enterprise_address, enterprise_email, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{enterpriseCompanyName,jdbcType=VARCHAR}, 
      #{enterpriseLinkMan,jdbcType=VARCHAR}, #{enterprisePhoneNum,jdbcType=VARCHAR}, 
      #{enterpriseAddress,jdbcType=VARCHAR}, #{enterpriseEmail,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sust.model.TEnterpriseInfo" >
    insert into t_enterprise_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="enterpriseCompanyName != null" >
        enterprise_company_name,
      </if>
      <if test="enterpriseLinkMan != null" >
        enterprise_link_man,
      </if>
      <if test="enterprisePhoneNum != null" >
        enterprise_phone_num,
      </if>
      <if test="enterpriseAddress != null" >
        enterprise_address,
      </if>
      <if test="enterpriseEmail != null" >
        enterprise_email,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseCompanyName != null" >
        #{enterpriseCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseLinkMan != null" >
        #{enterpriseLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="enterprisePhoneNum != null" >
        #{enterprisePhoneNum,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseAddress != null" >
        #{enterpriseAddress,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseEmail != null" >
        #{enterpriseEmail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sust.model.TEnterpriseInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_enterprise_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_enterprise_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.enterpriseId != null" >
        enterprise_id = #{record.enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseCompanyName != null" >
        enterprise_company_name = #{record.enterpriseCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseLinkMan != null" >
        enterprise_link_man = #{record.enterpriseLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="record.enterprisePhoneNum != null" >
        enterprise_phone_num = #{record.enterprisePhoneNum,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseAddress != null" >
        enterprise_address = #{record.enterpriseAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.enterpriseEmail != null" >
        enterprise_email = #{record.enterpriseEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_enterprise_info
    set id = #{record.id,jdbcType=INTEGER},
      enterprise_id = #{record.enterpriseId,jdbcType=VARCHAR},
      enterprise_company_name = #{record.enterpriseCompanyName,jdbcType=VARCHAR},
      enterprise_link_man = #{record.enterpriseLinkMan,jdbcType=VARCHAR},
      enterprise_phone_num = #{record.enterprisePhoneNum,jdbcType=VARCHAR},
      enterprise_address = #{record.enterpriseAddress,jdbcType=VARCHAR},
      enterprise_email = #{record.enterpriseEmail,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sust.model.TEnterpriseInfo" >
    update t_enterprise_info
    <set >
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseCompanyName != null" >
        enterprise_company_name = #{enterpriseCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseLinkMan != null" >
        enterprise_link_man = #{enterpriseLinkMan,jdbcType=VARCHAR},
      </if>
      <if test="enterprisePhoneNum != null" >
        enterprise_phone_num = #{enterprisePhoneNum,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseAddress != null" >
        enterprise_address = #{enterpriseAddress,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseEmail != null" >
        enterprise_email = #{enterpriseEmail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sust.model.TEnterpriseInfo" >
    update t_enterprise_info
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      enterprise_company_name = #{enterpriseCompanyName,jdbcType=VARCHAR},
      enterprise_link_man = #{enterpriseLinkMan,jdbcType=VARCHAR},
      enterprise_phone_num = #{enterprisePhoneNum,jdbcType=VARCHAR},
      enterprise_address = #{enterpriseAddress,jdbcType=VARCHAR},
      enterprise_email = #{enterpriseEmail,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>