<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sust.dao.TEnterInfoForDispatchMapper" >
  <resultMap id="BaseResultMap" type="com.sust.model.TEnterInfoForDispatch" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="enter_img" property="enterImg" jdbcType="VARCHAR" />
    <result column="rank" property="rank" jdbcType="TINYINT" />
    <result column="send_price" property="sendPrice" jdbcType="SMALLINT" />
    <result column="dispatch_price" property="dispatchPrice" jdbcType="SMALLINT" />
    <result column="dispatch_time" property="dispatchTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, enterprise_id, company_name, enter_img, rank, send_price, dispatch_price, dispatch_time, 
    create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sust.model.TEnterInfoForDispatchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_enter_info_for_dispatch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_enter_info_for_dispatch
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_enter_info_for_dispatch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sust.model.TEnterInfoForDispatchExample" >
    delete from t_enter_info_for_dispatch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sust.model.TEnterInfoForDispatch" >
    insert into t_enter_info_for_dispatch (id, enterprise_id, company_name, 
      enter_img, rank, send_price, 
      dispatch_price, dispatch_time, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{enterImg,jdbcType=VARCHAR}, #{rank,jdbcType=TINYINT}, #{sendPrice,jdbcType=SMALLINT}, 
      #{dispatchPrice,jdbcType=SMALLINT}, #{dispatchTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sust.model.TEnterInfoForDispatch" >
    insert into t_enter_info_for_dispatch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="enterImg != null" >
        enter_img,
      </if>
      <if test="rank != null" >
        rank,
      </if>
      <if test="sendPrice != null" >
        send_price,
      </if>
      <if test="dispatchPrice != null" >
        dispatch_price,
      </if>
      <if test="dispatchTime != null" >
        dispatch_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="enterImg != null" >
        #{enterImg,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        #{rank,jdbcType=TINYINT},
      </if>
      <if test="sendPrice != null" >
        #{sendPrice,jdbcType=SMALLINT},
      </if>
      <if test="dispatchPrice != null" >
        #{dispatchPrice,jdbcType=SMALLINT},
      </if>
      <if test="dispatchTime != null" >
        #{dispatchTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sust.model.TEnterInfoForDispatchExample" resultType="java.lang.Integer" >
    select count(*) from t_enter_info_for_dispatch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_enter_info_for_dispatch
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.enterpriseId != null" >
        enterprise_id = #{record.enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.enterImg != null" >
        enter_img = #{record.enterImg,jdbcType=VARCHAR},
      </if>
      <if test="record.rank != null" >
        rank = #{record.rank,jdbcType=TINYINT},
      </if>
      <if test="record.sendPrice != null" >
        send_price = #{record.sendPrice,jdbcType=SMALLINT},
      </if>
      <if test="record.dispatchPrice != null" >
        dispatch_price = #{record.dispatchPrice,jdbcType=SMALLINT},
      </if>
      <if test="record.dispatchTime != null" >
        dispatch_time = #{record.dispatchTime,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_enter_info_for_dispatch
    set id = #{record.id,jdbcType=INTEGER},
      enterprise_id = #{record.enterpriseId,jdbcType=VARCHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      enter_img = #{record.enterImg,jdbcType=VARCHAR},
      rank = #{record.rank,jdbcType=TINYINT},
      send_price = #{record.sendPrice,jdbcType=SMALLINT},
      dispatch_price = #{record.dispatchPrice,jdbcType=SMALLINT},
      dispatch_time = #{record.dispatchTime,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sust.model.TEnterInfoForDispatch" >
    update t_enter_info_for_dispatch
    <set >
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="enterImg != null" >
        enter_img = #{enterImg,jdbcType=VARCHAR},
      </if>
      <if test="rank != null" >
        rank = #{rank,jdbcType=TINYINT},
      </if>
      <if test="sendPrice != null" >
        send_price = #{sendPrice,jdbcType=SMALLINT},
      </if>
      <if test="dispatchPrice != null" >
        dispatch_price = #{dispatchPrice,jdbcType=SMALLINT},
      </if>
      <if test="dispatchTime != null" >
        dispatch_time = #{dispatchTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sust.model.TEnterInfoForDispatch" >
    update t_enter_info_for_dispatch
    set enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      enter_img = #{enterImg,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=TINYINT},
      send_price = #{sendPrice,jdbcType=SMALLINT},
      dispatch_price = #{dispatchPrice,jdbcType=SMALLINT},
      dispatch_time = #{dispatchTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>